.reg_btn {
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
  border-radius: 5px;
  background: none;
  border: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  background-color: rgb(89, 79, 179);
  transition: all 0.3s ease;
}

.reg_btn:hover {
  background-color: #92b4ec;
}

.reg_form{
  margin: 10px;
  padding: 10px;
}

.quickly_home {
  .quickly_home_img {
    object-fit: cover;
    filter: brightness(90%);
  }

  h3 {
    cursor: pointer;
    margin-bottom: -10px;
    transition: all 0.3s ease;
  }

  h3:hover {
    color: #223c7e;
  }

  p {
    color: rgb(121, 119, 119);
  }

  .quickly_home_price {
    color: rgb(65, 64, 64);
    font-weight: 600;
    margin-top: 10px;
  }

  .quickly_home_btm {
    margin-top: -15px;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
      padding: 5px;
      background-color: #223c7e;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
    }
  }
}
